{% extends 'base.html.twig' %}

{% block title %}Work index{% endblock %}

{% block body %}
    <h1>Work index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>GithubLink</th>
                <th>WebsiteLink</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work in works %}
            <tr>
                <td>{{ work.id }}</td>
                <td>{{ work.name }}</td>
                <td>{{ work.githubLink }}</td>
                <td>{{ work.websiteLink }}</td>
                <td>                <td><img src="data:image/png;base64,{{ work.image }}"/></td>
            </td>
                <td>
                    <a href="{{ path('app_work_crud_show', {'id': work.id}) }}">show</a>
                    <a href="{{ path('app_work_crud_edit', {'id': work.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_work_crud_new') }}">Create new</a>
{% endblock %}
